@media (max-width: 1199px) {

  .main__first-part {
    padding-top: 20px;
  }

  .section {
    padding-bottom: 40px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  .section__principles-item:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .section__offer-list {
    padding-top: 20px;
  }

  .section__quote {
    margin-bottom: 30px;
  }

  .footer__menu-contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}




@media (max-width: 767px) {
  
  body {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    float: left;
    max-width: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .container {
/*     min-width: 340px; */
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__wrapper {
    flex-flow: column;
    margin-bottom: 30px;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .header__menu {
    display: flex;
    flex-basis: 100%;
    justify-content: space-beween;
    align-self: stretch;
  }

  .header__menu-item {
    flex-basis: 28%;
    text-align: center;
  }

  .header__submenu {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .section__quote {
    max-width: 90%;
  }

  .footer__menu-contact {
    justify-content: space-between;
  }

  .footer__menu-contact > * {
    flex: 0 0 115px;
/*     padding-left: 20px;
    padding-right: 20px; */
  }

  .footer__menu-contact > l
  .footer__menu:last-of-type {
    margin-bottom: 10px;
  }

}




@media (max-width: 550px) {

  img {
    float: none;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

}




@media (min-width: 767px) {
  
  body {
    padding-top: 44px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  img {
    float: left;
    margin-right: 20px;
  }
  
  .container {
    min-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    margin-bottom: 44px;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .header__logo {
    order: 2;
  }

  .header__menu-left {
    order: 1;
  }

  .header__menu-right {
    order: 3;
  }

  .header__menu {
    flex-basis: 36.567164%;
  }

  .header__menu-item {
    padding-bottom: 6px;
  }

  .header__submenu {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
  }


  /* ----- Submenu's Arrow ----- */

  .header__submenu::before {
    left: 50%;
    top: -6px;
    transform: translate(-50%, 0%);
    border-bottom: 3px solid #ffffff;
  }

  /* --------------------------- */


  /* ----- Makes Horisontal List ----- */

  .section__principles-list {
    display: flex;
    justify-content: space-between;
  }

  .section__principles-item {
    flex: 0 0 32%;
  }

  /* --------------------------------- */

  
  .main__second-part {
    display: flex;
    justify-content: space-between;
  }
  
  .main__second-part > .section:nth-of-type(1) {
    flex: 0 0 71.507761%;
  }

  .main__second-part > .section:nth-of-type(2) {
    flex: 0 0 23.281597%;
  }

  .section:nth-of-type(3) .section-subtitle {
    margin-bottom: 25px;
  }

  .section__quote {
    font-size: 1rem;
  }

  .footer__menu-contact {
    justify-content: space-around;
  }

  .footer__credits > li {
    display: inline-block;
  }

  .footer__credits > li:not(:last-child)::after {
    content: "|";
    display: inline-block;
    width: 12px;
    text-align: center;

  }

}



@media (min-width: 1000px) {

  .section__quote {
    font-size: 1.153846rem;
  }

  .main__first-part {
    display: flex;
    justify-content: space-between;
  }

  .section__principles-list {
    flex-direction: column;
  }

  .main__first-part > .section:nth-of-type(1) {
    flex: 0 0 71.507761%;
  }

  .main__first-part > .section:nth-of-type(2) {
    flex: 0 0 23.281597%;
  }

  .section__principles-item:not(:last-of-type) {
    margin-bottom: 32px;
  }

}



@media (min-width: 1199px) {
  
  body {
    padding: 46px 0px 32px 0px;
  }

  .container {
    width: 1026px;
    padding: 0px 62px 0px 62px;
  }

  .header {
    padding: 0px 100px;
  }

  .header__menu {
    flex-basis: 35.108959%;
  }

  .main__first-part {
    padding-top: 114px;
    padding-bottom: 50px;
    border-bottom: 1px solid #dedbdb;
  }

  .main__second-part {
    padding-top: 54px;
    padding-bottom: 84px;
    border-bottom: 1px solid #dedbdb;
  }

  .section__title {
    margin-bottom: 46px;
  }

  .section__offer-list {
    padding-top: 36px;
  }

  .section__quote {
    margin-bottom: 62px;
  }

  .footer__menu-contact {
  padding: 36px 140px 36px 140px;
  justify-content: space-between;
  }


}