@media (max-width: 1199px) {

  .section__quote {
    margin-bottom: 30px;
  }
  
}



@media (max-width: 767px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .header__wrapper {
    flex-flow: column;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .header__menu {
    align-self: stretch;
  }

  .header__menu-item {
    flex-basis: 33%;
    text-align: center;
  }

  .header__submenu {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .section__principles-item:not(:last-of-type) {
    margin-bottom: 27px;
  }

  .section__quote {
    max-width: 90%;
  }

}




@media (max-width: 480px) {

  .main__picture {
    float: none;
    max-width: 100%;
    width: 100%;
  }

}



@media (min-width: 480px) {

  .footer__menu {
    flex-grow: 1;
  }

  .main__picture {
    float: left;
    max-width: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

}




@media (min-width: 767px) {

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .header {
    padding-top: 44px;
    margin-bottom: 44px;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .header__logo {
    order: 2;
  }

  .header__menu-left {
    order: 1;
  }

  .header__menu-right {
    order: 3;
  }

  .header__menu {
    flex-basis: 36.567164%;
  }

  .header__menu-item {
    padding-bottom: 6px;
  }

  .header__submenu {
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
  }


  /* ----- Submenu's Arrow ----- */

  .header__submenu::before {
    left: 50%;
    top: -6px;
    transform: translate(-50%, 0%);
    border-bottom: 3px solid #ffffff;
  }

  /* --------------------------- */


  /* ----- Makes Horisontal List ----- */

  .section__principles-list {
    display: flex;
    justify-content: space-between;
  }

  .section__principles-item {
    flex: 0 0 30%;
  }

  /* --------------------------------- */


  .main__second-part {
    display: flex;
    justify-content: space-between;
  }
  
  .main__second-part > .section:nth-of-type(1) {
    flex: 0 0 70%;
  }

  .main__second-part > .section:nth-of-type(2) {
    flex: 0 0 25%;
  }

  .section:nth-of-type(3) .section-subtitle {
    margin-bottom: 25px;
  }

  .section__quote {
    font-size: 1rem;
  }

  .footer__menu-contact {
    padding-left: 100px;
    padding-right: 100px;
  }

  .footer__credits > li {
    display: inline-block;
  }

  .footer__credits > li:not(:last-child)::after {
    content: "|";
    display: inline-block;
    width: 12px;
    text-align: center;
  }

}




@media (min-width: 1026px) {

  .container {
    width: 1026px;
  }

  .main__first-part {
    display: flex;
    justify-content: space-between;
  }

  .main__first-part > .section:nth-of-type(1) {
    flex: 0 0 70%;
  }

  .main__first-part > .section:nth-of-type(2) {
    flex: 0 0 25%;
  }

  .section__principles-list {
    flex-direction: column;
  }

  .section__principles-item:not(:last-of-type) {
    margin-bottom: 27px;
  }

  .section__quote {
    font-size: 1.153846rem;
    margin-bottom: 62px;
  }

  .footer__menu-contact {
    padding-left: 140px;
    padding-right: 140px;
  }

}