/* * {
  outline: 1px solid red;
}
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/page-bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(78, 80, 80);
  line-height: 17px;
  padding-top: 240px;
  padding-bottom: 542px;
}

.container {
  background-color: #fff;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px 37px 44px 37px;
}

.visually-hidden {
  font-size: 0px;
}

.about-section {
  margin-bottom: 50px;
}

.about-section__offer {
  margin-bottom: 36px;
}

.about-section__title {
  font-family: "Pathway Gothic One";
  font-size: 25px;
  color: #263555;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.about-section__subtitle {
  font-size: 14px;
  color: #263555;
  line-height: 19px;
  margin-bottom: 20px;
}

.about-section img {
  display: block;
  margin-bottom: 28px;
}

.about-section__list {
  padding: 0px;
  width: 334px;
  list-style: none;
}

.about-section__list li:not(:last-child) {
  margin-bottom: 24px;
}

.section-divider {
  height: 1px;
  border-bottom: 1px solid #dedbdb;
  margin-bottom: 56px;
}

.offer-list {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 23px;
  padding-left: 24px;
  list-style: none;
}

.offer-list li:not(:last-child) {
  margin-bottom: 15px;
}


/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}