/* * {
  outline: 1px solid red;
}
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #cbc6c6;
  font-size: 10px;
  line-height: 15px;
  padding-top: 96px;
  padding-bottom: 706px;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h2 {
  font-family: 'Pathway Gothic One', 'Arial Narrow', sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #263555;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.main-menu {
/*   display: block; */
  font-family: 'Pathway Gothic One', 'Arial Narrow', sans-serif;
  font-size: 28px;
  line-height: 34px;
  color:#ffffff;
  text-transform: uppercase;
  margin-bottom: 108px;
  text-align: center;
}

.main-menu nav {
  position: relative;
  width: 828px;
  height: 34px;
  margin: auto;
}

.main-menu__left {
  position: absolute;
  left: 0px;
  top: 0px;
}

.main-menu__right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.main-menu__item {
  /*   display: block; */
  float: left;
  position: relative;
  margin-right: 60px;
  padding-bottom: 10px;
}

.main-menu__item:last-of-type {
  margin-right: 0px;
}

.main-menu__item:hover {
  color: #263555;
  cursor: pointer;
}

.main-menu__submenu {
  display: none;
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
  font-size: 20px;
  line-height: 24px;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 2px;
  color: #6b7488;
}

.main-menu__item:hover > .main-menu__submenu {
  display: block;
}

.main-menu__item:hover li:hover {
  color: #263555;
}

.main-menu__submenu::before {
  content: '';
  display: block;
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-bottom: 4px solid #ffffff;
  z-index: 50;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 138px;
  height: 138px;
  background-color: #ffffff;
  border-radius: 50%;
  font-family: 'Dorsa','Pathway Gothic One', 'Arial Narrow', sans-serif;
  font-size: 60px;
  line-height: 138px;
  color: #263555;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1024px;
  height: auto;
  margin: auto;
  background: #ffffff;
  padding: 58px 60px 136px 60px;
}

.slider {
  position: relative;
  width: 902px;
/*   height: 580px; */
  font-family: 'Pathway Gothic One', 'Arial Narrow', sans-serif;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 50px;
}

.slider__title {
  position: absolute;
  left: 0px;
  top: 218px;
  width: 224px;
  height: 60px;
  font-size: 22px;
  line-height: 60px;
  color: #263555;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e8e8e7;
}

.slider__subtitle {
  position: absolute;
  left: 0px;
  top: 278px;
  display: block;
  width: 276px;
  height: 60px;
  font-size: 34px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  background-color: #38afe5;
}

.slider__controls {
  position: absolute;
  left: 36px;
  bottom: 38px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #38afe5;
}

.slider__button {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__button-previous {
  left: 25px;
  background-image: url(../img/left-arrow.svg);
}

.slider__button-next {
  right: 25px;
  background-image: url(../img/right-arrow.svg);
}

.destinations__list {
  list-style: none;
}

.destinations__item {
  position: relative;
  float: left;
  margin-right: 19px;
}

.destinations__item:last-of-type {
  margin-right: 0px;
}

.destinations__cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 147px;
  height: 270px;
  background-color: #193149;
  padding: 8px;
  display: none;
}

.destinations__item:hover > .destinations__cover {
  display: block;
}

.destinations__title {
  font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.destinations__description {
  text-align: justify;
}

.destinations__button {
  position: absolute;
  bottom: 20px;
  right: 12px;
  width: 64px;
  height: 22px;
  border: none;
  border-radius: 5px;
  box-shadow: 0;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.button-back {
/*   position: fixed; */
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #38afe5;
  background-image: url(../img/up-arrow.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}


/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}


/* ВАРИАНТ ВЕРСТКИ МЕНЮ ЦЕЛЬНЫМ СПИСКОМ */
/* .main-menu nav {
  position: relative;
  max-width: 828px;
  height: 34px;
  margin: auto;
}

.main-menu__item:nth-child(-n + 3) {
  float: left;
  position: relative;
  margin-right: 60px;
  padding-bottom: 10px;
}

.main-menu__item:nth-child(n + 4) {
  float: right;
  position: relative;
  margin-right: 60px;
  padding-bottom: 10px;
}

.main-menu__item:nth-child(3n) {
  margin-right: 0px;
} */