.section__subtitle {
  font-family: $font-subtitle;
  font-size: $font-size-section-subtitle * 0.9;
  line-height: $line-height-section-subtitle;
  color: map-get($colors, dark-grey);
  text-align: center;

  margin-bottom: 3.5%;

  @media (min-width: 480px) {
    font-size: $font-size-section-subtitle * 1.0;
  }
}