.container {
  background-color: grey;
  counter-reset: a;
}

.counter-item {
  counter-increment: a 5;
  text-align: center;
}

.counter-item::after {
  content: counter(a);
  color: white;
}
/* 
.green {
  float: right;
  width: 100px;
  height: 100px;
  background-color: green;
}

.blue {
  clear: right;
  float: left;
  width: 200px;
  height: 200px;
  background-color: blue;
}

.red {
  border-radius: 50%;
  float: right;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle farthest-side at 50px 50px, snow, grey);
  box-shadow: 5px 5px 20px grey, -5px -5px 500px grey;
} */

:root {
  --blockWidth: 30vw;
}

.container-sized {
  clear: both;
  margin: auto;
  width: var(--blockWidth);
  height: calc(var(--blockWidth)-50%);
  background: linear-gradient(90deg,
  green 0%, green 10%,
  white 20%, white 80%,
  pink 90%, pink 100%)
}

.darking-image {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  background:
  linear-gradient(rgba(255,255,255,0.3),
  rgba(255,255,255,0.3)),
  url('../img/Airplane.jpg');
  background-size: cover;
  background-repeat: no-repeat;
/*   box-shadow: inset 0 0 30px black; */
  box-shadow: 0px 20px 10px -5px black;
}

/* .darking-image::before {
  box-shadow: 5px 5px 5px grey;
} */

.darking-image:hover {
  background-image: url('../img/Airplane.jpg');
}

.filtered-image {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.filtered-image img {
  text-align: center;
  filter: saturate(10%)
}

.filtered-image img:hover {
/*   filter: invert(100%) drop-shadow(0px 0px 20px red); */
  filter: none;
}



/* ТЕСТЫ ПО СЧЕТЧИКАМ */

/* .wrapper {
  counter-reset: count-box
                 count-block 100
                 count-h;
} */

.box {
  counter-increment: count-box 1;
}

.box::before {
  content: counter(count-box);
  margin-right: 30px;
}

.block {
  counter-increment: count-block -10;
}

.block::after {
  margin-left: 20px;
  content: counter(count-block);
}

h4 {
  counter-increment: count-h 1;
}

h4:last-of-type::after {
  margin-left: 20px;
  content: 'Всего заголовков: 'counter(count-h, upper-roman);
}



.container1 {
  position: relative;
  background-color: grey;
  margin: 10px;
  padding: 20px;
}

.green1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: palegreen;
  z-index: 1;
}

.blue1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
}

.red1 {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle farthest-side at 50px 50px, snow, pink);
  box-shadow: 5px 10px 10px white, -5px -5px 20px black;
}


/* STICKY */
.wrapper-sticky {
  width: 50vw;
  margin: 20px auto;
  background-color: palegreen;
}

.header {
  text-align: center;
  position: sticky;
  top: 100px;
  bottom: 100px;
  background-color: grey;
}