@media
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .banner {
    background-image: -webkit-gradient(linear,
                                    left bottom, left top,
                                    from(rgba(252, 227, 138, 0.9)),
                                    to(rgba(243, 129, 129, 0.9))),
                                      url('../img/2x/header-picture@2x.jpg');
    background-image: -webkit-linear-gradient(bottom,
                                    rgba(252, 227, 138, 0.9),
                                    rgba(243, 129, 129, 0.9)),
                                      url('../img/2x/header-picture@2x.jpg');
    background-image: -o-linear-gradient(bottom,
                                    rgba(252, 227, 138, 0.9),
                                    rgba(243, 129, 129, 0.9)),
                                      url('../img/2x/header-picture@2x.jpg');
    background-image: linear-gradient(0deg,
                                    rgba(252, 227, 138, 0.9),
                                    rgba(243, 129, 129, 0.9)),
                                      url('../img/2x/header-picture@2x.jpg');
  }
}



@media (min-width: 480px) {

  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .main-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .main-menu__item {
    margin-bottom: 0px;
  }

  .main-menu__link {
    padding-bottom: 10px;
  }

  .main-menu__link--focus:focus {
    padding-right: 0px;
    border-right: none;
    padding-bottom: 7px;
    border-bottom: 3px solid #fce38a;
  }

  .header__title {
    font-size: 40px;
  }

  .header__subtitle {
    font-size: 70px;
  }

  .section__subtitle {
    font-family: "Montserrat Bold";
    font-size: 30px;
    text-align: center;
    margin-bottom: 5.5%;
  }

  .section__subtitle::after {
    padding-top: 3.1666%;
  }

  

}

@media (min-width: 768px) {

  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .logo {
    margin-bottom: 0px;
  }

  .main-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    max-width: 620px;
  }

  .header__title {
    font-size: 50px;
  }

  .header__subtitle {
    font-size: 110px;
  }

  .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .services__item {
    width: 50%;
  }

  .services__item:nth-last-of-type(-n + 2) {
    margin-bottom: 0px;
  }

  .team {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .team__item {
    width: 45%;
  }

  .footer-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .subscribtion-form {
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

}

@media (min-width: 960px) {

  .header__title {
    font-size: 72px;
  }

  .header__subtitle {
    font-size: 150px;
  }

  .services__item {
    width: 30%;
  }

  .services__item:nth-last-of-type(-n + 3) {
    margin-bottom: 0px;
  }

  .team__item {
    width: 30%;
  }

}

@media (min-width: 1200px) {

  .services__item {
    margin-bottom: 8.3333%;
  }

  .team__photo-wrapper {
    margin-bottom: 30px;
  }

}