/* @mixin container-settings($padding: 10px) {
  padding-left: $padding;
  padding-right: $padding;
} */

/* @mixin font-settings($font: '$font-regular', $size: '$font-size-regular', $line: '$line-height-regular', $color: 'map-get($colors, light-grey)') {
  font-family: $font;
  font-size: $size;
  line-height: $line;
  color: $color;
} */