$font-logo: "Montserrat Bold", Arial, Helvetica, sans-serif;
$font-navigation: "Montserrat Regular", Arial, Helvetica, sans-serif;
$font-title: "Kaushan Regular", cursive;
$font-subtitle: "Montserrat Bold", Arial, Helvetica, sans-serif;
$font-regular: "Roboto Regular", sans-serif;
$font-regular-main: "Montserrat Regular", Arial, Helvetica, sans-serif;
$font-regular-cursive: "Roboto Light Italic", sans-serif;
$font-button: "Montserrat Bold", Arial, Helvetica, sans-serif;

$font-size-logo: 30px;
$font-size-navigation: 14px;
$font-size-banner-title: 72px;
$font-size-banner-subtitle: 150px;
$font-size-section-title: 24px;
$font-size-section-subtitle: 30px;
$font-size-regular: 15px;
$font-size-regular-main: 14px;
$font-size-regular-cursive: 15px;
$font-size-button: 14px;

$line-height-logo: 1.0;
$line-height-navigation: 1.0;
$line-height-banner-title: 1.0;
$line-height-banner-subtitle: 0.9;
$line-height-section-title: 1.0;
$line-height-section-subtitle: 0.9;
$line-height-regular-main: 1.2;
$line-height-regular: 24px;
